{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'movie_app/css/index.css' %}">
{% endblock %}

{% block title %}Main page{% endblock %}

{% block content %}
<h1>{{hello}}</h1>
<ul>
    {% for movie in movies %}
<!--        <li><a href="{% url 'url_detail' movie.id %}">{{movie.name}}</a>, rating- {{movie.rating}}, year- {{movie.year|default:'Unknown'}}</li>-->
        <li><a href="{{movie.get_url}}">{{movie.name}}</a>,
            rating- {{movie.rating}},
            money - {{movie.sum_money}},
            year- {{movie.year|default:'Unknown'}}
        </li>
    {% endfor %}
</ul>
<h3>Average box films = {{mov.sum_money__avg}}</h3>
<h3>{{mov.name__count}} movies on page</h3>

{% endblock %}
